<!DOCTYPE html>
<html>
	<head>
		<title>JingHui's Blog</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm W-Jinghui!</h1>
				<p>I am a primary school student in the machine learning community. <a href="https://me.csdn.net/u014281392">about me...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:wangjinghui9@live.com">email</a></li>
        		<li><a href="https://github.com/wang-jinghui">github</a></li>
			</ul>
		</footer>
	</body>
</html>
